@font-face {
    font-family: ambrosia;
    src: url('../utm-ambrosia.ttf');
  }
  body{
      font-family: ambrosia;
      color: #608f84;
  }
.menu_right{
    background-image: url('../img/right.png');
    width: 160px;
    height: 363px;
    background-size: 100% 100%;
    position: fixed;
    top: 30%;
    right: 20px;
    padding-top: 100px;
}
.back_to_top{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
}
.menu_right img{
    display: block;
    margin: 0 auto;
}
.logo{
    top: 20px;
    left: 100px;
    position: absolute;
}
header{
    position: relative;
}
.container{
    width: 1000px;
    position: relative;
    padding-top: 60px;
}
.section_1 .box{
   height: 233px;
   background-image: url('../img/bg_ss1.png');
   margin-bottom: 60px;
   background-size: 100% 100%;
   
}
.section_1 .box .row{
    padding: 0 45px;
}
.section_1 .btn{
    width: 100%;
    margin-top: 20px;
}
.section_1 .bg_giaban{
    background-image: url('../img/bg_giaban.png');
    width: 360px;
    height: 70px;
}
.section_1 .number{
    width: 112px;
    height: 112px;
    background-image: url('../img/bg_so.png');
    line-height: 112px;
    text-align: center;
    margin: auto;
}
.section_2{
    background-image: url('../img/bg_cover_ss2.jpg');
    margin-bottom: 60px;
    padding-bottom: 43px;
    background-size: 100% 100%;
    
}
.section_2 .box{
    width: 800px;
    height: 52px;
    background-image: url('../img/ss2_img.png');
    line-height: 52px;
    text-align: center;
    position: relative;
    margin: 36px auto;
    font-size: 35px;
}
.section_2 .box span img{
    width: 30px;
}
.section_2 .box a{
    position: absolute;
    right: 20px;
    top: -6px;
}
.section_3{
    background-image: url('../img/bg_ss2.png');
    margin-bottom: 60px;
}
.section_3 .row{
    padding: 0 50px 50px 50px;
}
.section_3 .col-6:nth-child(1) .box{
    margin-left: 160px;
}
.section_3 .box{
    width: 260px;
    height: 84px;
    background-image: url('../img/ss3_img.png');
    position: relative;
    margin-bottom: 18px;
    background-size: 100% 100%;
    
}
.section_3 .stt{
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 50px;
    color: #fff;
}
.section_3 .text{
    text-align: center;
    line-height: 84px;
    font-size: 30px;
}
.section_3 .number{
    position: absolute;
    top: 40px;
    right: 35px;
    font-size: 25px;
    
}

.section_4 .box{
    width: 1200px;
    background-image: url('../img/bg_ss4.png');
    margin-bottom: 60px;
    background-size: 100% 100%;
    padding: 0 100px;
}
.ss4_header{
    padding: 40px 0 20px 0;
}
.ss4_header .name{
    font-size: 25px;
    color: #d45314;
}
.ss4_header .sl{
    background-image: url('../img/bg_sl.png');
    width: 122px;
    height: 36px;
    font-size: 40px;
    display: block;
    float: left;
    line-height: 30px;
    color: #d45314;
    padding-left: 33px;
    margin: 0 10px;
}
.section_4 .sl{
    font-size: 26px;
    text-transform: uppercase;
}
.section_4 .sl span{
    font-size: 35px;
}
.section_4 .sl_1{
    font-size: 35px;
}
.section_4 .sl_2{
    font-size: 27px;
    text-decoration: line-through;
}
.section_4 .sl_1 img{
    margin: -10px 0 0 -10px;
}
.section_4 .icon{
    width: 44px;
    height: 44px;
    margin-top: 66px;
}
.section_4 .sl_2 img{
    margin: -10px 0 0 -10px;
    width:24px;
}
.left,.right{
    display: inline-block;
}
.right{
    float: right;
}
.ss4_header .sl img{
    margin-top: -7px;
    margin-left: -10px;
}
.ss4_header .logout{
    color: #589382;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 20px;
    text-decoration: underline;
}

.section_4 .box_child{
    width: 280px;
    height: 300px;
    background-image: url('../img/bg_box.png');
    text-align: center;
    margin-bottom: 40px;
}
.section_4 .box_child .number{
    padding-top: 26px;
}
.section_4 .box_child .sl{
    padding-top: 32px;
}
.section_4 ul {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
.section_4 ul li{
    display: inline-block;
    padding: 10px;
}
.section_4 ul li a{
   width: 40px;
   height: 40px;
   display: block;
   border-radius: 50%;
   line-height: 35px;
   color: #589382;
   border: 2px solid #589382;
   font-size: 30px;
}
.section_4 ul li a.active{
    background-color: #589382;
    color: #fff;
}
.section_5 .rotate{
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto;
    line-height: 600px;
    text-align: center;
}
.section_5 .rotate .text{
    position: sticky;
    z-index: 99;
    padding-bottom: 10px;
    padding-right: 10px;
    
}
.section_5 .number{

}
.section_5 .number span{
    background-image: url('../img/bg_number.png');
    width: 219px;
    height: 62px;
    font-size: 45px;
    display: block;
    float: left;
    line-height: 62px;
    color: #589584;
    margin-left: 80px;

}
.section_5 .number span img{
    width: 40px;
    margin-top: -10px;
}
.section_5 .rotate .bg{
    position: absolute;
    top: 0;
    left: 0;
}
.list_btn{
    margin-top: 20px;
    text-align: center;
}

.btn_login{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}
main{
    background-image: url('../img/bg.png');
    background-size: cover;
    padding-bottom: 30px;
}

#rotate .modal-content,#muavatpham .modal-content,#napkimte .modal-content{
    background-image: url('../img/pup_rotate.png');
    width: 604px;
    height: 194px;
    padding-top: 50px;
    background-size: 100% 100%;
}
#rotate .close{
    position: absolute;
    top: -45px;
    right: 2px;
}
#muavatpham .modal-content, #napkimte .modal-content{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
#login .modal-content,#dangki .modal-content{
    background-image: url('../img/bg_form.png');
    text-align: center;
    width: 600px;
    background-size: 100% 100%;
    background-color: unset;
}
#login .modal-content span{
    font-size: 22px;
}
#login .modal-content img, #dangki .modal-content img{
    width: 145px;
    padding: 10px 0;
}
#login .modal-content span a{
    text-decoration: underline;
    color: #80ad9f;
}
#login input, #dangki input{
    width: 70%;
    height: 50px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 30px;
    border: 1px solid #70a395;
}
::-webkit-input-placeholder {
    color: #70a395;
    font-size: 20px;
  }
.form_title{
  font-size: 35px;
}
#history .modal-content{
    background-image: url('../img/pup_history.png');
    height: 434px;
    background-size: 100% 100%;
    background-color: unset;
    border: unset;
    padding: 190px 50px 0 40px;
}

#history .modal-content ul li{
    list-style: none;
    border-bottom: 1px dotted #65b5b1;
    padding: 4px 0;
    
}
#history .modal-content ul li span:nth-child(2){
    float: right;
}
#chucmung .modal-content{
    background-image: url('../img/pup_chucmung.png');
    background-size: 100% 100%;
    background-color: unset;
    border: unset;
}
.title{
    width: 1200px;
    height: 70px;
    margin: auto;
    background-image: url('../img/bg_title.png');
    background-size: 100% 100%;
    text-align: center;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 30px;
   
}
.title_box{
    position: absolute;
    text-align: center;
    font-size: 40px;
    top: -8px;
    width: 100%;
    font-weight: 100;
}
.bg__video{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .title{
        width: 100%;
    }
}